//LOOPS for
// to
@for $i from 1 to 3 {
  .item-#{$i} {
      background: green;
      margin-bottom: 2px;
  }
}

// through
@for $i from 1 through 3 {
  .item-#{$i} {
      background: green;
      margin-bottom: 2px;
  }
}

//while
$contador: 1;
@while $contador <5{
    .item-#{$contador} {
      background: red;
      margin-bottom: 2px;
    }
    $contador: $contador + 1;
}

//each
$lista: green, yellow, red;
$contador: 1;

@each $cor in $lista{
    
    .item-#{$contador} {
      background: $cor;
      margin-bottom: 2px;
    }
    
    $contador: $contador+1;
}

//funções
$total: 12;
@function largura-coluna($coluna){
    
    @return ($coluna/$total) * 100;
    
}
$resultado: largura-coluna(12);
/*
#{$resultado}
*/

//funções2 nativas
$total: 12;
@function largura-coluna($coluna){
    
    @return percentage($coluna/$total);
    
}


@for $i from 1 to $total {
  .col-#{$i} {
      width: largura-coluna($i);
      background: green;
  }
}

//Outras funções
.alerta1{
    background: mix(green, yellow,20%);
    color: yellow;
}

.alerta2{
    background: darken(orange, 33);
    color: yellow;
}

.alerta3{
    background: lighten(orange, 30);
    color: yellow;
}