//Mixin
@mixin titulo($cor, $cor-bg:black){
  color:$cor;
  background:$cor-bg;
  padding:10px 5px;
}

h1{
  @include titulo(white );
}

h2{
  @include titulo(blue );
}

//Herança
//Multiplas diretivas

.pai{
  color:red;
}
.filho{
  @extend .pai;
  background:black;
}
.erro{
  @extend .filho;
  padding:10px;
  border:1px solid red;
}